.container {
  height: 85%;
  max-width: 50%;
  max-height: 85vh;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPage {
  width: 100%;
  height: 90%;
  margin: auto;
  background: #00000073;
  
  padding: 3rem;
  /* position: relative;
    left: 28rem;
    top: 2rem; */
}

.backToHome {
  margin: 3rem 0 0;
}

@media screen and (max-width: 600px) {
  .container {
    height: 100%;
    max-width: 80%;
    max-height: 100vh;
    padding: 0 1rem;
    margin: 0 auto;
  }
  
  .mainPage {
    width: 100%;
    height: 125%;
    background: #00000073;
  }
}