.footer {
  position: fixed;
  bottom: 30px;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin: 1rem auto 0;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  text-shadow: 1px 1px 3px black
}

@media screen and (max-width: 600px) {
  .footer {
    position: relative;
    bottom: 0;
    left: -3px;
    width: 101%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 1rem auto 0;
    background: #0000008f;
  }
}